/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

body {
    line-height: 1.5;
    --webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

ol, ul {
    list-style: none;
    padding-inline: 0;
}

/* CSS Styles */

body {
    font-family: "Sniglet", sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px 4fr;

    min-height: 100vh;
}

button {
    cursor: pointer;

    border: 2px solid #fafafa;
    border-radius: 20px;

    background-color: #eebbc3;
    color: #232946;
    
    font-weight: bold;
}

button:hover {
    background-color: #e49ea9;
}

.header-icon {
    max-width: 65px;
    max-height: 65px;
}

.header {
    padding: 15px;
    color: #fffffe;
    background-color: #232946;

    grid-column: 1 / 3;

    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar {
    padding: 20px;
    background-color: #d4d8f0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .new-task-btn {
    padding: 15px;
    margin: 5px;

    font-size: large;
}

.other-sidebar-btns {
    display: flex;
}

.other-sidebar-btns button {
    flex: 1 1 auto;
    padding: 10px;
    margin: 5px;

    font-size: 0.9rem;
}

.new-task-dialog {
    min-width: 500px;

    background-color: #232946;
    color: #b8c1ec;

    border-radius: 20px;

    padding: 20px 30px;
}

.new-task-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 25px;
}

.new-task-header h2 {
    border-left: 5px solid #eebbc3;
    border-radius: 8px;

    color: #fffffe;

    padding: 0 10px;
}

.new-task-header button {
    border: none;
    border-radius: 12px;

    color: #232946;

    padding: 8px 15px;
    margin-left: 10px;

    font-size: 1rem;
    font-weight: bold;
}

.new-task-dialog label {
    margin-right: 5px;
}

.input-fields {
    display: grid;
    grid-template-columns: 1fr 4fr;

    text-align: right;
}

.input-fields input {
    border: none;
    border-radius: 12px;

    background-color: #fffffe;

    padding: 3px 10px;
    margin-left: 5px;

    color: #232946;
}

.input-fields input:focus {
    outline: none;
    outline: 2px solid #eebbc3;
}

.new-task-dialog textarea {
    border: none;
    border-radius: 12px;
    
    background-color: #fffffe;

    padding: 3px 10px;
    margin-left: 5px;

    color: #232946;
}

.new-task-dialog textarea {
    outline: none;
    outline: 2px solid #eebbc3;
}

.new-task-dialog fieldset {
    margin-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    border: 2px solid #b8c1ec;
    border-radius: 12px;
}

.new-task-dialog fieldset legend {
    color: #fffffe;
    font-weight: bold;
}

.new-task-inputs > div {
    margin-bottom: 20px;
}

fieldset input {
    margin-left: 10px;
    margin-right: 5px;
}